html {
  --colorText: #000000;
  --colorAccent: #ff00d4;
  --colorHtmlBackdrop: #3b3b3b25;
  --colorBorder: #000000;
  --colorBackground: #ffffff;
  --borderRadius: 10px;
  --shadowBorder: 0.75rem;
}

html:before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  position: absolute;
  background-color: var(--colorHtmlBackdrop);
}
